<ion-view view-title="Delta Airlines">

<div class="list card">

  <div class="list">


    <div class="row">

  <div class="col col-center col-75">
    <label class="item item-input item-floating-label">

      <span class="input-label">Name</span>
      <input id="Name" type="text" placeholder="Name" ng-model="name" required>
      <p ng-show="name.$error.required">* Name is required</p>

    </label>


  </div>
    </div>

<div class="row">
  <div class="col col-center col-75">
    <label class="item item-input item-floating-label">
      <span class="input-label">Credit Card Number</span>
      <input id="Credit" type="number" placeholder="Credit Card Number" ng-model="creditNumber"  ng-minlength="16" ng-maxlength="16" required>
      <p ng-show="creditNumber.$error.minlength">* Credit Card Number must be 16 numbers</p>


    </label>
  </div>
</div>

<div class="row">
  <div class="col col-center col-75">
      <label class="item item-input item-floating-label">
      <span class="input-label">cvc</span>
      <input id="cvc" type="tel" placeholder="cvc" ng-model="CVC"  ng-minlength="3" required>
        <p ng-show="creditNumber.$error.minlength">* CVC Number must be 3 numbers</p>
    </label>
  </div>
</div>

<div class="row">
  <div class="col col-center col-75">
    <label class="item item-input item-floating-label">
      <span class="input-label">Expiry Date</span>
      <input id="Expiry" type="month" placeholder="Expiry Date" ng-model="date" required>
    </label>
  </div>
</div>
    </form>
</div>

</div>
<button class="button button-block button-assertive" ng-click="submit()">
  Submit
</button>
</ion-view>
