<ion-view>

<div class="list card">

  <div class="list">

    <div class="row">

  <div class="col col-center col-75">
    <label class="item item-input item-floating-label">
      <span class="input-label">Name</span>
      <input id="Name" type="text" placeholder="Name">
    </label>
  </div>
    </div>

<div class="row">
  <div class="col col-center col-75">
    <label class="item item-input item-floating-label">
      <span class="input-label">Credit Card Number</span>
      <input id="Credit" type="number" placeholder="Credit Card Number">
    </label>
  </div>
</div>

<div class="row">
  <div class="col col-center col-75">
      <label class="item item-input item-floating-label">
      <span class="input-label">cvc</span>
      <input id="cvc" type="tel" placeholder="cvc">
    </label>
  </div>
</div>

<div class="row">
  <div class="col col-center col-75">
    <label class="item item-input item-floating-label">
      <span class="input-label">Expiry Date</span>
      <input id="Expiry" type="month" placeholder="Expiry Date">
    </label>
  </div>
</div>

</div>

</div>
<button class="button button-block button-assertive">
  Submit
</button>
</ion-view>
