<ion-view view-title="Round Trip">
<ion-content class="padding">

<h2>Adult</h2>
	<div class="list">
		<div class="item item-divider">
  			Adult {{index+1}}
  		</div>
  		<label class="item item-input item-stacked-label">
    		<span class="input-label">First Name</span>
    		<input type="text">
  		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Last Name</span>
			<input type="text">
		</label>
    	<label class="item item-input item-stacked-label">
    		<span class="input-label">Passport Nationality</span>
    		<input type="text">
  		</label>
		<label class="item item-input item-stacked-label">
    		<span class="input-label">Passport Number</span>
    		<input type="text">
		</label>
		<label class="item item-input item-stacked-label">
    		<span class="input-label">Email</span>
    		<input type="text" placeholder="example@delta.com">
		</label>
		<label class="item item-input item-stacked-label">
    		<span class="input-label">Mobile Number</span>
    		<input type="text">
		</label>
		<label class="item item-input item-stacked-label">
    		<span class="input-label">Emergency Contact</span>
    		<input type="text">
		</label>
		<label class="item item-input item-stacked-label">
    		<span class="input-label">Emergency Contact Mobile Number</span>
    		<input type="text">
  		</label>
	</div>


<h2>Children</h2>
	<div class="list">
  		<div class="item item-divider">
  			Child {{index+1}}
  		</div>
  		<label class="item item-input item-stacked-label">
    		<span class="input-label">First Name</span>
    		<input type="text">
  		</label>
  		<label class="item item-input item-stacked-label">
   			<span class="input-label">Last Name</span>
    		<input type="text">
  		</label>
		<label class="item item-input item-stacked-label">
    		<span class="input-label">Passport Nationality</span>
    		<input type="text">
  		</label>
  		<label class="item item-input item-stacked-label">
    		<span class="input-label">Passport Number</span>
    		<input type="text">
  		</label>
  		<label class="item item-input item-stacked-label">
    		<span class="input-label">Supervisor Name</span>
    		<input type="text">
  		</label>
  		<label class="item item-input item-stacked-label">
		    <span class="input-label">Supervisor Mobile Number</span>
		    <input type="text">
  		</label>
  	</div>

</ion-content>
</ion-view>
