
<ion-view view-title="One Way Trip">
  <ion-content class="padding">

    <div class="list card">

    <div class="row">
      <div class="col col-40 col-offset-10"><div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-location placeholder-icon"></i>
          <input id="input_1" type="text" placeholder="From">
        </label>
      </div></div>
      <div class="col col-40 "><div class="list list-inset">
        <label class="item item-input" novalidate="">

          <i class="icon ion-location placeholder-icon"></i>
          <input id="input_1" type="text" placeholder="To">
        </label>
      </div></div>
    </div>
    <div class="row ">
      <div class="col col-33 col-offset-33 text-center">

      <label class="item item-input">
        <i class="icon ion-calendar"></i>
        <input id="input_1" type="date" placeholder="From Date" class="input input-stable">
      </label>
      </div>

    </div>
    <div class="list">

      <h5>
        Number Of Adults
      </h5>
    <div class="item range range-positive">
      <i class="ion-ios-person"></i>
      <input type="range" name="adults" min="0" max="10" value="1" step="1" ng-model="adults.count">
      <i class="ion-ios-people"></i>
      {{adults.count}}

    </div>
      </div>

      <div class="list">

          <h5>
            Number Of Children
          </h5>
          <div class="item range range-positive">
            <i class="ion-happy-outline"></i>
            <input type="range" name="children" min="0" max="10" value="1" step="1" ng-model="children.count">
            <i class="ion-happy"></i>
            <i class="ion-happy"></i>
            <i class="ion-happy"></i>
            {{children.count}}


        </div>


        <div class="row">
          <div class="col col-50"><label class="item item-input item-select col-1">
            <div class="input-label">
              Classes
            </div>
            <select>
              <option>Economy Class</option>
              <option selected>Business Class</option>
              <option>First <Class></Class></option>
            </select>
          </label></div>
          <div class="col"> </div>
          <div class="col">

            {{}}



            <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label></div>
        </div>




        </div>

        </div>
    </div>

    </div>







  </ion-content>
</ion-view>
