 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Ionic Pull to Refresh</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    
  </head>
<ion-view view-title="reservationSearch">
    
     <body ng-controller="reservationSearchCtrl">
      <ion-header-bar class="bar-positive">
     
    </ion-header-bar>
  <ion-content class="padding">
  ]
      <div class="list">
  <label class="item item-input">
    <span class="input-label">Enter reservation Code</span>
    <input type="text">
  </label>

</div>

    <button  ng-click="findReservation(rn)" class="button button-positive">
  Find Now
</button>

 <ion-list ng-show="toggle">
        <ion-item >Your reservation Code </ion-item>
        <ion-item >{{reservationsObjects.reservationCode}}</ion-item>
        <ion-item >Number of Adults</ion-item>
        <ion-item >{{reservationsObjects.numberOfAdults}}</ion-item>
        <ion-item >Number Of Children</ion-item>
        <ion-item >{{reservationsObjects.numberOfChildren}}</ion-item>
        <ion-item >{{item}}</ion-item>
        <ion-item ng-repeat="item in items">{{item}}</ion-item>
      </ion-list>

</body>

  </ion-content>
</ion-view>