  

 
<ion-spinner icon="spiral"></ion-spinner>


<label>
<h1>Choose the flights you want to book.</h1>
</label>
<ion-list ng-controller = "searchResultsCtrl">
<div>
  <ion-item ng-repeat="f in headers" ng-model="$parent.gflight" ng-value="f" class="item item-trns text-left">
  <input type="radio" ng-model="$parent.gflight" ng-value="f">


<i class="icon ion-plane"></i> 

    Flight Number: <h1>{{ f.flightNumber }}</h1>
    Origin:      <h1>{{ f.origin }}</h1>
    Destination:     <h1>{{ f.destination }}</h1>

<i class="icon ion-clock"></i>  
    Time:     <h1>{{ f.departureDateTime | amDateFormat:'dddd, MMMM Do YYYY '}}</h1>

<i class="icon ion-pricetag"></i> 
    Price:     <h2>{{ f.cost }}$</h2>

    Class:     <h1>{{ f.class }}</h1>

    <br>
    </ion-item>
    </div>

    <div>
<ion-item ng-repeat="r in headers" ng-model="$parent.rflight" ng-value="r" class="item item-trns text-left" ng-show="flag">

    <input type="radio" ng-model="$parent.rflight" ng-value="r">


<i class="icon ion-plane"></i> 
    Flight Number: <h1>{{ r.flightNumber }}</h1>
    Origin:      <h1>{{ r.origin }}</h1>
    Destination:      <h1>{{ r.destination }}</h1>

<i class="icon ion-clock"></i>  
    Time:      <h1>{{ r.departureDateTime | amDateFormat:'dddd, MMMM Do YYYY '}}</h1>

<i class="icon ion-pricetag"></i> 
    Price:      <h2>{{ r.cost }}</h2>
    Class:      <h1>{{ r.class }}</h1>

</ion-item>
</div>

</ion-list>


<div class="text-center">
    <button id=" Prcdbtn"  type="button" class="btn btn-success button-clear" ng-click="proceed()"> <h2>Proceed<h2> <i class="icon ion-chevron-right"></i>   </button>

</div>
