

 <ion-view view-title="searchResults">


 <ion-content>

<ion-spinner icon="spiral"></ion-spinner>


<label>
<h1>Choose the flights you want to book.</h1>
</label>


<div class="item item-divider">
One Way Trips
  </div>


 <ion-list ng-controller = searchResultsCtrl>
  <ion-radio ng-repeat = "f in outgoingFlights" ng-model="$parent.gflight" ng-value="f">

<i class="icon ion-plane"></i> 

    Flight Number: <h1>{{ f.flightNumber }}</h1>
    Origin:      <h1>{{ f.origin }}</h1>
    Destination:     <h1>{{ f.destination }}</h1>

<i class="icon ion-clock"></i>  
    Time:     <h1>{{ f.departureDateTime | amDateFormat:'dddd, MMMM Do YYYY '}}</h1>

<i class="icon ion-pricetag"></i> 
    Price:     <h3>{{ f.cost }}$</h3>

    Class:     <h1>{{ f.class }}</h1>

    <br>






  </ion-radio>
</ion-list>


<div class="item item-divider" ng-show = "flag">
Return Trips
  </div>

 <ion-list ng-controller = searchResultsCtrl>
  <ion-radio ng-repeat = "r in returnFlights" ng-model="$parent.rflight" ng-value="r" ng-show="flag">
<i class="icon ion-plane"></i> 
    Flight Number: <h1>{{ r.flightNumber }}</h1>
    Origin:      <h1>{{ r.origin }}</h1>
    Destination:      <h1>{{ r.destination }}</h1>

<i class="icon ion-clock"></i>  
    Time:      <h1>{{ r.departureDateTime | amDateFormat:'dddd, MMMM Do YYYY '}}</h1>

<i class="icon ion-pricetag"></i> 
    Price:      <h3>{{ r.cost }}</h3>
    Class:      <h1>{{ r.class }}</h1>



  </ion-radio>
</ion-list>


<div class="text-center">
    <button id=" Prcdbtn"  type="button" class="btn btn-success button-clear" ng-click="proceed()"> <h3>Proceed<h3> <i class="icon ion-chevron-right"></i>   </button>

</div>



</ion-content>

</ion-view>