<body>
  <ion-side-menus>

    <!-- Center content -->

      <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
          </ion-nav-bar>

      <ion-nav-view name="tab-oneway"></ion-nav-view>


    <!-- Left menu -->
    <ion-side-menu side="left">
      <ion-header-bar class="bar-assertive">
        <h1 class="title">Explore</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
              <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
              <ion-item ng-click="reservation()" class="item" menu-close>Check Reservation</ion-item>
              <ion-item ng-click='landingPage()'class='item'>Home</ion-item>
               <ion-item nav-clear menu-close ui-sref="thankYou">About</ion-item>
            <!--  <a href="#/event/attendees" class="item" menu-close>Attendees</a>-->

          </ion-list>


      </ion-content>

    </ion-side-menu>

  </ion-side-menus>
</body>
