<ion-view view-title="Delta Airlines">
<div id = "aboutCard" class="card">
  <br></br>
  <br></br>
  <br></br>
  <br></br>


  <h1 align="center" style="color:red;">Thank you for using Delta Airlines</h1>

  <br></br>
  <br></br>

  <br></br>
  <br></br>



    <h2 align="center" style="color:red;">Your reservation code is: {{reservationCode}}</h2>








<div class ="col text-center">
  <button id ="button proceed search" class="button button-small button-assertive" ng-click="proceed()">Home</button>


</div>
</div>







</ion-view>
