<ion-view view-title="Delta Airlines">

  <br></br>
  <br></br>
  <br></br>
  <br></br>


  <h1 align="center" style="color:white;">Thank you for using Delta Airlines</h1>

  <br></br>
  <br></br>
  <br></br>
  <br></br>



    <h2 align="center" style="color:white;">Your reservation code is: {{reservationCode}}</h2>








<div class ="col text-center">
  <button id ="button proceed search" class="button button-small button-assertive" ng-click="proceed()">Home</button>


</div>








</ion-view>
