.pane {
  background: url(../background-delta.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


#input_1{
  border: 0;
  border-bottom: 1px solid grey;
  outline: 0;
}

#input_1:focus{
  border: 0;
  border-bottom: 1px solid red;
  outline: 0;
}

#Name{
  border: 0;
  border-bottom: 1px solid grey;
  outline: 0;
}

#iName:focus{
  border: 0;
  border-bottom: 1px solid red;
  outline: 0;
}

#Credit{
  border: 0;
  border-bottom: 1px solid grey;
  outline: 0;
}

#Credit:focus{
  border: 0;
  border-bottom: 1px solid red;
  outline: 0;
}

#cvc{
  border: 0;
  border-bottom: 1px solid grey;
  outline: 0;
}

#cvc:focus{
  border: 0;
  border-bottom: 1px solid red;
  outline: 0;
}

#Expiry{
  border: 0;
  border-bottom: 1px solid grey;
  outline: 0;
}

#Expiry:focus{
  border: 0;
  border-bottom: 1px solid red;
  outline: 0;
}
