span {
	padding: 0px;
	margin: 2px;
}
input {
	margin: 0px;
}

div.row {
	padding-bottom: 10px;
}

/*.panel {
	background-color: rgba(50,50,50,0.5);
	border-color: transparent;
}

.panel > .panel-heading {
	background-color: rgba(50,50,50,0.5);
	border-color: transparent;
	color: #eee;
}*/

div#proceedBtn {
	padding:0px;
}

input {
	background-color: rgba(100,100,100,0.5);
	border-color: transparent;
	color: white;
}
