div {
  color: white;
}
.jumbotron{
  opacity:0.8;
}
#originAirports{
  width: 310px;


}
#fromDate{
  width: 310px;

}

#destinationAirports{
  width: 310px;


}
#toDate{
  width: 310px;


}
#ticketSearchBox{
  width:400px;
}

#firstBtn{
  width:120px;
}

#headerwelcome{


  text-align: center;
}


#bookBtn{
  width: 150px;
}
.row #otherAirlines{
	padding: 20px;
}
