.jumbotron{
  opacity:0.8;
}

#tfheader{

  background-image: url("Delta-Air-Lines-website.png");

background-size: cover;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  /* 50% */
   min-height: 100%;
min-width: 1024px;

/* Set up proportionate scaling */
width: 100%;
height: auto;

/* Set up positioning */
position: fixed;
top: 0;
left: 0;

}
#headerwelcome{
  background-image: url("Delta-Air-Lines-website.png");

background-size: cover;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
  /* 50% */
   min-height: 100%;
min-width: 1024px;

/* Set up proportionate scaling */
width: 100%;
height: auto;

/* Set up positioning */
position: fixed;
top: 0;
left: 0;
  text-align: center;
}
#ticketSearchBox{
  width:400px;
}
#firstBtn{
  width:120px;
}
#tfnewsearch{
  float:right;
  padding:50px;
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #0076a3; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  height: 30px;
}
.tfbutton {
  margin: 0;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #0076a3; border-right:0px;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  background-color: #f44336;
}
.tfbutton:hover {
  text-decoration: none;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
.tfclear{
  clear:both;
}


/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s lightSpeedIn ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedIn {
   0% {
      transform: translateX(100%) skewX(-30deg);
      opacity: 0;
   }
   60% {
      transform: translateX(-20%) skewX(30deg);
      opacity: 1;
   }
   80% {
      transform: translateX(0%) skewX(-15deg);
      opacity: 1;
   }
   100% {
      transform: translateX(0%) skewX(0deg);
      opacity: 1;
   }
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);


*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
dl{
  border-radius: 8px;
  margin-bottom: 80px;
  overflow: hidden;
}


dl dt{
  background-color: #383838;
  border-bottom: solid 1px rgba(0,0,0,0.3);
  border-top: solid 1px rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.5);
  cursor: pointer;
  padding: 10px 10px 10px 30px;
  position: relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

dd{
  background-color: #ddd;
  color: rgba(0,0,0,0.6);
  display: none;
  border: solid 1px #e7e7e7;
  margin: 0;
  padding: 10px;
}

.fechado::after, .aberto::after{
  content: "\25c2";
  display: table;
  font-size: 1.6em;
  left: 2%;
  line-height: 50px;
  position: absolute;
  text-shadow: 0 -1px #111;
  top: -3px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.fechado::after{
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   transform: rotate(-90deg);
}

.aberto::after{
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

@media only screen and (min-width : 1024px){



  h1, dl{
    width: 36rem;
  }

}
