#xflight{
  text-align: center;


}

#yflight{
  text-align: center;
}

table, th , td  {
  padding: 30px;
  font-size: 20px;
  text-align: center;
  border: 0px solid black;
  font-family: Helvetica;
  text-decoration-color: white;
  border-collapse: collapse;
  border-spacing: 0;


}
table tr:nth-child(odd)	{
  background-color: rgba(16, 51, 54, 0.06);




}
table tr:nth-child(even) {
  background-color: rgba(69, 160, 252, 0.1);
}


#Prcdbtn{
  width: 150px;
}
