
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="user" style="background-image:url('/img/zaher.jpg')"><br></br> <br></br> <br></br> <br></br> <h4 align="center">Zaher Tarek</h4></div>

    </div>
    <div class="col-sm-4">
      <div class="user" style="background-image:url('/img/zaher.jpg')"></div>
    </div>
    <div class="col-sm-4">
      <div class="user" style="background-image:url('/img/zaher.jpg')"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="user" style="background-image:url('/img/zaher.jpg')"></div>
    </div>
    <div class="col-sm-4">
      <div class="user" style="background-image:url('/img/zaher.jpg')"></div>
    </div>
    <div class="col-sm-4">
      <div class="user" style="background-image:url('/img/zaher.jpg')"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="user" style="background-image:url('/img/zaher.jpg')"></div>
    </div>
    <div class="col-sm-4">
      <div class="user" style="background-image:url('/img/zaher.jpg')"></div>
    </div>
    <div class="col-sm-4">
      <div class="user" style="background-image:url('/img/zaher.jpg')"></div>
    </div>
  </div>
</div>
