
<div class="container">

  <div class="row">
    <div class="col-sm-4"><div class="user" style="background-image:url('/img/zaher.jpg')"></div>
    <div class="col-sm-4"><div class="user" style="background-image:url('/img/souidan.jpg')"></div>
    <div class="col-sm-4"><div class="user" style="background-image:url('/img/shokr.jpg')"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"><h2>Zaher Tarek</h2></div>
    <div class="col-sm-4"><h2>Ahmed Souidan</h2></div>
    <div class="col-sm-4"><h2>Mohamed Shokr</h2></div>
  </div>

  <div class="row">
    <div class="col-sm-4"><div class="user" style="background-image:url('/img/karim.jpg')"></div>
    <div class="col-sm-4"><div class="user" style="background-image:url('/img/mariam.jpg')"></div>
    <div class="col-sm-4"><div class="user" style="background-image:url('/img/mirette.jpg')"></div>
  </div>

  <div class="row">
    <div class="col-sm-4"><h2>Karim Ahmed</h2></div>
    <div class="col-sm-4"><h2>Mariam Korashi</h2></div>
    <div class="col-sm-4"><h2>Mirette Ehab</h2></div>
  </div>

  <div class="row">
    <div class="col-sm-6"><div class="user" style="background-image:url('/img/sandy.jpg')"></div>
    <div class="col-sm-6"><div class="user" style="background-image:url('/img/jaidaa.jpg')"></div>
  </div>

  <div class="row">
    <div class="col-sm-6"><h2>Sandy Ihab</h2></div>
    <div class="col-sm-6"><h2>Jaidaa Yasser</h2></div>
  </div>

</div>
