
<div class="container">

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading" style="text-align: center;">THE TEAM</h2>
        </div>
      </div>
    </div>
  </section>

  <br>

  <div class="jumbotron">

    <div class="row">
      <div class="col-sm-4"><div class="user" style="background-image:url('/img/zaher.jpg')"></div><br><h3>Zaher Tarek</h3></div>
      <div class="col-sm-4"><div class="user" style="background-image:url('/img/souidan.jpg')"></div><br><h3>Ahmed Souidan</h3></div>
      <div class="col-sm-4"><div class="user" style="background-image:url('/img/shokr.jpg')"></div><br><h3>Mohamed Shokr</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-4"><div class="user" style="background-image:url('/img/karim.jpg')"></div><br><h3>Karim Ahmed</h3></div>
      <div class="col-sm-4"><div class="user" style="background-image:url('/img/mariam.jpg')"></div><br><h3>Mariam Korashi</h3></div>
      <div class="col-sm-4"><div class="user" style="background-image:url('/img/mirette.jpg')"></div><br><h3>Mirette Ehab</h3></div>
    </div>

    <div class="row">
      <div class="col-sm-4"><div class="user" style="background-image:url('/img/sandy.jpg')"></div><br><h3>Sandy Ihab</h3></div>
      <div class="col-sm-4"><div class="user" style="background-image:url('/img/jaidaa.jpg')"></div><br><h3>Jaidaa Yasser</h3></div>
    </div>

  </div>
</div>
