
<div class="container">

	<div class="jumbotron">
		<h2 style="text-align: center">Ticket Confirmation</h2>
	</div>

	<div class="container">
  		<h2>Flight Information</h2>
  	</div>

	<div class="container" style="color: lightgray">
  		<h4> Number of adult ticket(s): {{ adultTickets }}</h4><br>
  		<h4> Number of children ticket(s):{{ childrenTickets }}</h4><br>
  		<h4> Class of tickets(s): {{ classOfTickets }}</h4><br>
	</div>

	<div class="panel-group">
	    <div class="panel panel-default" ng-repeat="flight in flights">
	      	
	      	<div class="panel-heading">
	      	Flight {{ index + 1 }}
	      	</div>

	      	<div class="panel-body">

  					<div class="col-sm-6">
						<div class="container">
					  		<h5> From: {{ flight.origin }}</h5><br>
					  		<h5> Date: {{ convertToDate(flight.departureDateTime) }}</h5><br>
					  		<h5> Time: {{ convertToTime(flight.departureDateTime) }}</h5><br>
					  		<strong> Maximum baggage allowed: 24 Kilograms</strong>
						</div>
  					</div>

					<div class="col-sm-6">
					<div class="col-sm-6">
						<div class="container">
					  		<h5> To: {{ flight.destination }}</h5><br>
					  		<h5> Date: {{ convertToDate(flight.arrivalDateTime) }}</h5><br>
					  		<h5> Time: {{ convertToTime(flight.arrivalDateTime) }}</h5><br>
						</div>
  					</div>
		  			</div>
	    	</div>
	    </div>
	</div>

	<div class="alert alert-info">
		<strong>Note: </strong> Please remember to check in 24 hours before the flight in order to reserve your seat and choose a special meal, if needed.
	</div>

	<div class="jumbotron">
		<div class="container">
		<div class="col-sm-12">
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Number of ticket(s)</th>
			        <th>Class</th>
			        <th>Child/Adult</th>
			        <th>Cost</th>
			      </tr>
			    </thead>

			    <tbody> <!-- Might be wrong to repeat here -->
			      <tr ng-show="thereAreAdults">
			        <td>{{ adultTickets }}</td>
			        <td>{{ classOfTickets }} </td>
			        <td> Adult </td>
			        <td>{{ calculateAdultCost() }}</td>
			      </tr>

			      <tr ng-show="thereAreChildren">
			        <td>{{ childrenTickets }}</td>
			        <td>{{ classOfTickets }} </td>
			        <td> Child </td>
			        <td>{{ calculateChildrenCost() }}</td>
			      </tr>

			    </tbody>
			</table>
			</div>
		</div>

		<div>
			<h3>Total amount: <span class="label label-default" ></span>${{ totalAmount }}</h3> <!--Modifying information - redirect to prev page -->
			<button type="button" class="btn btn-primary">
				<span class="glyphicon glyphicon-circle-arrow-left"></span> Modify information</button>


			<button type="button" class="btn btn-info" ng-click="goToCheckOut()"> <!--ng click -->
	      		<span class="glyphicon glyphicon-ok-sign"></span> Check Out
	    	</button>

		</div>

	</div>
</div>
