<!-- <!DOCTYPE html>
 <html lang="en">
	<head>
 	<title> Flights from Search - Details</title>

 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 </head>

 <body>  -->
 <div  ng-init="adultsInput=0">
 <div  ng-init="childrenInput=0">

 <div class="container">

 	<div class="jumbotron">
 		<h1>Flight Information</h1>
 	</div>



 	<div class="container">
   		<h5> Class of tickets:{{ class }}</span></h5><br>

   		<div> <!-- to add a gap between panels; add: class="panel-group"-->
 	    <div class="panel panel-default">
 	      <div class="col-sm-15">
 				<table class="table table-striped">
 	    			<thead>
 	      			<tr>
 	        			<th>Adult(s)</th>
 	        			<th>Child(ren)</th>
 	      			</tr>
 	    			</thead>
 	    			<tbody>
 	    				<tr>
 	    				<td>
 	    				<input type="number" string-to-number ng-model="adultsInput" placeholder="Number Of Tickets" />
 	    				</td>
 	    				<td>
 	    				<input type="number" string-to-number ng-model="childrenInput" placeholder="Number Of Tickets"/>
 	    				</td>

 	    				</tr>

 	    			</tbody>

 				</table>
 			</div>
 	    </div>

 	</div>


 	<div> <!-- to add a gap between panels; add: class="panel-group"-->
 	    <div class="panel panel-default">
 	      <div class="panel-heading">Flight Details</div>
 	      <div class="col-sm-15">
 				<table class="table table-striped">
 	    			<thead>
 	      			<tr>
 	        			<th>From: {{flightOutgoing.origin}}</th>
 	        			<th>To: {{flightOutgoing.destination}}</th>
 	      			</tr>
 	    			</thead>

 	    			<tbody>
 	      				<tr>
 	        				<td>Date: {{flightOutgoing.departureDateTime | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</td>
 	        				<td>Date: {{flightReturning.date}}</td>
 	      				</tr>

 		  				<tr>
 	        				<td>Departure Time: {{flightOutgoing.departureTime}}</td>
 	        				<td>Departure Time: {{flightReturning.departureTime}}</td>
 	      				</tr>


        				<tr>
                 	  <td>Arrival Time: {{flightOutgoing.arrivalTime}}</td>
                 	  <td>Arrival Time: {{flightReturning.arrivalTime}}</td>
              	</tr>


 	    			</tbody>
 				</table>
 			</div>
 	    </div>

 	</div>
 	</div>



 	<div class="container">
   		<h2>Total amount</h2>

     <div class="col-sm-6">
 		<table class="table table-striped">
 	    	<thead>
 	      	<tr>

 	        	<th>Number of tickets</th>
 	        	<th>Class</th>
 	        	<th>Child/Adult</th>
 	        	<th>Cost</th>
 	      	</tr>
 	    	</thead>

 	    	<tbody>
 	      		<tr>
 	        		<td>x{{ adultsInput }}</td>
 	        		<td>{{ class }}</td>
 	        		<td>Adults</td>
 	        		<td>${{flightOutgoing.economyPrice * adultsInput + flightReturning.economyPrice * adultsInput}}</td>
 	      		</tr>

 		  		<tr>
 	        		<td>x{{ childrenInput }}</td>
 	        		<td>{{ class }}</td>
 	        		<td>Children</td>
 	        		<td>${{(flightOutgoing.economyPrice * childrenInput + flightReturning.economyPrice * childrenInput)*0.5}}</td>
 	      		</tr>

 	    	</tbody>
 		</table>
 	</div>
 	</div>

 	<div class="well">Total amount: {{flightOutgoing.economyPrice * adultsInput + flightReturning.economyPrice * adultsInput+(flightOutgoing.economyPrice * childrenInput + flightReturning.economyPrice * childrenInput)*0.5}}</div>
 	<button type="button" class="btn btn-success" ng-click="proceed()">Procced</button> <br>
 	</div>


 </div>
