
	<div class="container">
		 <div class="jumbotron">
    		<h2 style="text-align: center">Tickets Information</h2>
    			<p style="color: #000">Please Fill the information below to complete your reservations.</p>
    		<h2>
    		</h2>
		</div>
		<h2 style="text-align: center" ng-show="thereIsAdults">Adults</h2>
  		<div class="panel panel-default" ng-repeat="i in AdultsArray track by $index">
	  		<div class="panel-heading">Adult {{$index+1}}</div>
	  		<div class="panel-body">
	  			<!--Name Row Row-->
			  	<div class="row">

			  		<div class="col-sm-3">
			  			<p>First Name</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].firstName"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<p>Last Name</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].lastName"></input>
		  			</div>

	  			</div>
	  			<!--Passport information Row -->
	  			<div class="row">

		  			<div class="col-sm-3">
			  			<p>Passport Nationality</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" uib-typeahead="nationality.name for nationality in nationalities | filter:$viewValue | limitTo: 10" required="true" ng-model="$parent.Adults[$index].passNationality"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<p>Passport Number</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].passNumber"></input>
			  		</div>

	  			</div>

	  			<!-- Email and Mobile number Row -->
	  			<div class="row">

	  				<div class="col-sm-3">
			  			<p>Email</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].email"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<p>Mobile Number</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].mobileNumber"></input>
			  		</div>

	  			</div>
	  			<!-- date of birth Row-->

	  			<div class="row">

	  				<div class="col-sm-3">
			  			<p>Date Of Birth</p>
			  		</div>
			  		<div class="col-sm-9">
			  			<input type="text" ng-model="$parent.Adults[$index].dateOfBirth" placeholder="dd/MM/YYYY"></input>
		  			</div>
	  			</div>
	  			<!-- Emergency Row-->
	  			<div class="row">

	  				<div class="col-sm-3">
			  			<p>Emergency Contact</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" ng-model="$parent.Adults[$index].emergencyContact"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<p>Mobile Number</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" ng-model="$parent.Adults[$index].emergencyMobileNumber"></input>
			  		</div>

	  			</div>

  		</div>

  		<h2 style="text-align: center" ng-show="thereIsChildren">Children</h2>
  		<div class="panel panel-default" ng-repeat="j in ChildrenArray track by $index">
  			<div class="panel-heading">Child {{$index+1}}</div>
  			<div class="panel-body">
  				<div class="row">

			  		<div class="col-sm-3">
			  			<p>First Name</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Children[$index].firstName"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<p>Last Name</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Children[$index].lastName"></input>
		  			</div>

	  			</div>

	  			<div class="row">

			  		<div class="col-sm-3">
			  			<p>Passport Nationality</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" uib-typeahead="nationality.name for nationality in nationalities | filter:$viewValue | limitTo: 10" required="true" ng-model="$parent.Children[$index].passNationality"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<p>Passport Number</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Children[$index].passNumber"></input>
		  			</div>

	  			</div>

	  			<div class="row">

	  				<div class="col-sm-3">
			  			<p>Date Of Birth</p>
			  		</div>
			  		<div class="col-sm-9">
			  			<input type="text" ng-model="$parent.Adults[$index].dateOfBirth" placeholder="dd/MM/YYYY"></input>
		  			</div>
	  			</div>

	  			<div class="row">

			  		<div class="col-sm-3">
			  			<p>Supervisor Name</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Children[$index].supervisorName"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<p>Mobile Number</p>
			  		</div>
			  		<div class="col-sm-3">
			  			<input type="text" required="true" ng-model="$parent.Children[$index].supervisorMobileNumber"></input>
		  			</div>

	  			</div>


  			</div>
  		</div>


	</div>
	<div class="row" id="proceedBtn">
	    <div class="span7 text-center">
			<button type="button" class="btn btn-primary" ng-click="proceed()">Proceed</button>
		</div>
	</div>

