<!DOCTYPE html>
<html>
<head>
	<title>Information Page</title>
	<script src="../js/jquery-2.2.0.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-route.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/ui-bootstrap-tpls-1.2.5.min.js"></script>
    <script src="../core.js"></script>
    <script src="../controllers/mainCtrl.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">  
</head>

<body ng-app="deltaApp">
	<!-- Shokr's partial -->
	<div class="container" ng-controller="infoCtrl">
		 <div class="jumbotron">
    		<h1>Tickets Information</h1>      
    			<p>Please Fill the information below to complete your reservations.</p>
    		<h2>
    		</h2>		
		</div>
		<h2 style="text-align: center" ng-show="thereIsAdults">Adults</h2>
  		<div class="panel panel-default" ng-repeat="i in AdultsArray track by $index">
	  		<div class="panel-heading">Adult {{$index+1}}</div>
	  		<div class="panel-body">
	  			<!--Name Row Row-->
			  	<div class="row">

			  		<div class="col-sm-3">
			  			<span class="badge">First Name</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].firstName"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<span class="badge" >Last Name</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].lastName"></input>
		  			</div>

	  			</div>
	  			<!--Passport information Row -->
	  			<div class="row">

		  			<div class="col-sm-3">
			  			<span class="badge">Passport Nationality</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].passNationality"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<span class="badge">Passport Number</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].passNumber"></input>
			  		</div>

	  			</div>

	  			<!-- Email and Mobile number Row -->
	  			<div class="row">

	  				<div class="col-sm-3">
			  			<span class="badge">Email</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].email"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<span class="badge">Mobile Number</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Adults[$index].mobileNumber"></input>
			  		</div>

	  			</div>

	  			<!-- Emergency Row-->
	  			<div class="row">

	  				<div class="col-sm-3">
			  			<span class="badge">Emergency Contact</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" ng-model="$parent.Adults[$index].emergencyContact"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<span class="badge">Mobile Number</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" ng-model="$parent.Adults[$index].emergencyMobileNumber"></input>
			  		</div>

	  			</div>

	  		</div>
  		</div>

  		<h2 style="text-align: center" ng-show="thereIsChildren">Children</h2>
  		<div class="panel panel-default" ng-repeat="j in ChildrenArray track by $index">
  			<div class="panel-heading">Child {{$index+1}}</div>
  			<div class="panel-body">
  				<div class="row">

			  		<div class="col-sm-3">
			  			<span class="badge">First Name</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Children[$index].firstName"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<span class="badge">Last Name</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Children[$index].lastName"></input>
		  			</div>

	  			</div>

	  			<div class="row">

			  		<div class="col-sm-3">
			  			<span class="badge">Passport Nationality</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Children[$index].passNationality"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<span class="badge">Passport Number</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Children[$index].passNumber"></input>
		  			</div>

	  			</div>

	  			<div class="row">

			  		<div class="col-sm-3">
			  			<span class="badge">Supervisor Name</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Children[$index].supervisorName"></input>
		  			</div>
		  			<div class="col-sm-3">
			  			<span class="badge">Mobile Number</span>
			  		</div>
			  		<div class="col-sm-3"> 
			  			<input type="text" required="true" ng-model="$parent.Children[$index].supervisorMobileNumber"></input>
		  			</div>

	  			</div>


  			</div>
  		</div>



  	<button type="button" class="btn btn-primary" ng-click="proceed()">Proceed</button>


	</div>
	<style type="text/css">
		span{
			padding: 0px;
			margin: 2px;
		}
		input{
			margin: 0px;
		}
		div.row{
			padding-bottom: 10px;
		}
	</style>
</body>
</html>