<!-- MAIN BANNER -->
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
  <div class="container">
      <div class="row">
    <div class="jumbotron">
      <h1>Delta Airlines</h1>
      <p>
        This Website is under Construction</p>
      </div>
      </div>

      <div class="row">
        <div class="jumbotron banner">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <p style='font-size: 22px;'>
                  Search for Your Ticket!
                </p>
              </div>
                <div class="col-md-6">
              <form class="form-inline" role="form">
                <div class="form-group">

                    <input name="ticketSearch"
                           id="ticketSearchBox"
                           type="text"
                           placeholder="Enter the reservation code you reserved with please"
                           ng-model="resCodeTextBox"
                           class="form-control"
                    >
                  </div>

              </form>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary">Search Now</button>
                </div>


            </div>
        </div>
    </div>
          </div>
      <div class="row">
          <div class="jumbotron banner">
              <div class="row">
                  <p style='font-size: 22px;'>
                  Book Now</p>
              </div>
          <div class="col-md-4">
              <input name="originAirports"
                     id="originAirports"
                     type="text"
                     placeholder="Flying From"
                     ng-model="selectedOrigin"
                     uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                     class="form-control",
                     typeahead-on-select="SetOriginAirport($item.iata)">


      </div>
          <div class="col-md-4">


          </div>
          <div class="col-md-4">
              <input name="destinationAirports"
                     id="destinationAirports"
                     type="text"
                     placeholder="Flying To"
                     ng-model="selectedDestination"
                     uib-typeahead="airport.iata for airport in Airports | filter:$viewValue | limitTo:10"
                     class="form-control",
                     typeahead-on-select="SetDestinationAirport($item.iata)">
          </div>



      <div class="row">
          <div class="col-md-4">
              <p class="input-group">
                  <input type="text"
                         class="form-control"
                         id="fromDate"
                         uib-datepicker-popup="{{format}}"
                         ng-model="dt"
                         placeholder="Flying From Date"
                         is-open="popup1.opened"
                         ng-required="true"
                         close-text="Close"
                         alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>

              </p>

      </div>
          <div class="col-md-4"></div>

          <div class="col-md-4">
              <p class="input-group">
                  <input type="text"
                         class="form-control"
                         uib-datepicker-popup
                         ng-model="dt"
                         id="toDate"
                         is-open="popup2.opened"
                         placeholder="Flying To Date"
                         ng-required="true"
                         close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
              </p>
          </div>



      </div>
          </div>
      </div>
      </div>

