<!-- MAIN BANNER -->
</br>
  </br></br>
  </br>
  <div class="container">
      <div class="row">
    <div>
     </br>
  </br>
   </br>
  </br></br>
  </br>

      <h1 id="headerwelcome">
      </br>
  </br>
   <font color="white"> My Reservations! </font></h1>
  >
      </div>
      </div>

      <div class="row">
        <div class="jumbotron banner">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <p style='font-size: 22px;'>
                <font color="brown" ng-model="validity"> Enter your reservation code</font>
                </p>
              </div>
                <div class="col-md-6">
              <form class="form-inline" role="form">
                <div class="form-group">

                    <input name="ticketSearch"
                           id="ticketSearchBox"
                           type="text"
                           placeholder="reservation Code"
                           ng-model="rn"
                           ng-minlength="3"
                           ng-maxlength="8"
                           class="form-control"
                           required>
                  </div>

              </form>
                </div>
                <div class="col-md-3">
                    <button type="button" ng-click="findReservation(rn)" class="btn btn-primary">Find Now</button>
                </div>


            </div>
        </div>
    </div>
          </div>
     
      <div class="row" ng-show="toggle">
          <div class="jumbotron">
              <div class="row">
                  

<dl>
  <dt>Your reservation Code</dt>
    <dd>{{reservationsObjects.reservationCode}}</dd>
  <dt>Number of Adults :</dt>
    <dd>{{reservationsObjects.numberOfAdults}}</dd>
  <dt>Number of Children :</dt>
    <dd>{{reservationsObjects.numberOfChildren}}</dd>
  
</dl>


              </div>

              <div class="row" ng-repeat="flight in reservationsObjects.flights">
                <div class="jumbotron">
              <div class="row">

          <dl>
  <dt>Flight NUmber</dt>
    <dt>{{flight.flightNumber}}</dt>
  <dt>Date</dt>
    <dt>{{flight.date}}</dt>
  <dt>From</dt>
    <dt>{{flight.origin}}</dt>
  <dt>To</dt>
    <dt>{{flight.destination}}</dt>
</dl>
             
                 

                 
                  
              </div>
               </div>
                </div>
            
              

        

       </div>
      </div>
      </div>
    
         




          <div class="col-md-4">


          </div>
         
<div class="row">

          <div class="row">



            <div class = "col-md-3>">
             


            </div>
            <div class = "col-md-2>"></div>

          </div>

          <div class="row">
          </br>
        </br>

          </div>

      </div>
      </div>
    </div>
