

<div class="container">
  <div class="row">
    <div class="jumbotron">
      <div class="row">
          <h1 id="xflight">Flights from {{FlightDetails.OriginAirport}} to {{FlightDetails.DestinationAirport}}</h1>

          

          <table>
            <th ng-repeat= "header in headers">
        <a> {{headers[$index]}} </a>
    </th>
          <tr ng-repeat="f in FlightResults">
        <td><input type="radio" ng-model="$parent.gflight" ng-value="f"></td>
          <td>{{f.flightNumber}}</td>
          <td>{{ f.origin }}</td>
          <td>{{ f.destination }}</td>
          <td>{{ f.date }}</td>
          <td>{{ f.economyPrice }}$</td>
          <td>{{ f.firstClassPrice }}$</td>

        </tr>
        </table>
    </div>
    </div>
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="jumbotron">
        <div class="row">
            <h1 id="yflight">Flights from {{FlightDetails.DestinationAirport}} to {{FlightDetails.OriginAirport}}</h1>

            <table>
              <th ng-repeat= "header in headers">
          <a> {{headers[$index]}} </a>
      </th>
            <tr ng-repeat="r in ReturnFlights">
            <td> <input type="radio" ng-model="$parent.rflight" ng-value="r"></td>
            <td>{{r.flightNumber}}</td>
            <td>{{ r.origin }}</td>
            <td>{{ r.destination }}</td>
            <td>{{ r.date }}</td>
            <td>{{ r.economyPrice }}$</td>
            <td>{{ r.firstClassPrice }}$</td>


          </tr>
        </table>
        </div>
      </div>
      <button  type="button" class="btn btn-success" ng-click="proceed()">Proceed</button>

</div>
</div>
